# Conexión a la base de datos
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME

# Puerto en el que correrá la API
PORT=3000

# Entorno de ejecución (development, production, test)
NODE_ENV=development
