# Conexión a la base de datos
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/legalbot?schema=public

# Puerto en el que correrá la API
PORT=3000

# Entorno de ejecución (development, production, test)
NODE_ENV=development


APIPERU_TOKEN=5de08852b7522001700e996df7058f213545e5b255c69353084b3691ccd3b14f