<nav id="sidebar" class="bg-light border-end vh-100 p-3">
  <h4 class="mb-4">LegalBot</h4>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item mb-2"><a class="nav-link" href="index.html" id="menu-home">Home</a></li>
    <li class="nav-item mb-2"><a class="nav-link" href="/pages/usuarios.html" id="menu-usuarios">Gestión de Usuarios</a></li> 
    <li class="nav-item mb-2"><a class="nav-link" href="/Tarifas">Tarifas & Comisiones</a></li>
    <li class="nav-item mb-2"><a class="nav-link" href="#">Almacenamiento</a></li>
    <li class="nav-item mb-2"><a class="nav-link" href="/servicios">Servicios</a></li>
    <li class="nav-item mb-2"><a class="nav-link" href="#">Estadísticas</a></li>
    <li class="nav-item mt-auto"><a class="nav-link text-danger" href="#" onclick="logout()">Cerrar sesión</a></li>
  </ul>
</nav> 